@media screen and (min-width: 900px){
	.container{
		width: 900px;
		margin: auto;
	}
}

*{
	font-family: 'Sahitya', serif;
}

html {
	height: 100%;
}

body{
	background-image: url("05-white-brick.png");
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

img{
	margin-top: 10px;
}

h1{
	margin-top: 10px;
	margin-bottom: 10px;
}

h3{
	margin-top: 5px;
	margin-bottom: 5px;
}

h4{
	margin-top: 5px;
	margin-bottom: 5px;
}

textarea,input[type=text],input[type=password]{
	background: white;
	font-size: 16px;
}

footer{
	margin-top: auto;
	padding-bottom: 30px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 30px;
}

.all{
	width: 100%;
}

.half{
	width: 50%;
}

.quarter{
	width: 25%;
}

.third{
	width: 33.3333%;
}

.three-quarter{
	width: 75%
}

.top-bar{
	height: 15px;
    border: 0;
    box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, 1);
}

.bottom-bar{
	border-top: 3px double #8c8b8b;
}

.title{
	font-size: 1.5em;
}

.summary{
	font-size: 1.25em;
	margin-top:0px;
}

.code{
	background: #cccccc;
	font-family: 'Source Code Pro', monospace;
}

.comment{
	font-size: 1.2em
}

.delete-button,.edit-button,.like-button{
	font-size: 1em;
}

.submit-button,.comment-button{
	font-size: 1em
}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}



