{% extends 'base.html' %}

{% block content %}
	<h2 class="all">Add new Assignment:</h2>
	<h3 class="all"><font color="red">{{params['error']}}</font></h3>
	<form method="POST">
		<h4 class="all ">Class Name:</h4>
		<input type="text" name="title" value="{{params['title']}}"><br>
		<h4 class="all">Description:</h4>
		<textarea name="desc" rows="10" cols="50">{{params['desc']}}</textarea><br>
		<strong>Assignment Type:</strong><br>
		<select name="assign_type">
			<option value="0">Main Method</option>
			<option value="1">Static Methods</option>
			<option value="2">Public Class</option>
		</select>
		<br><br>
		<input type="submit" value="save">
	</form>

{% endblock %}
