{% extends 'base.html' %}

{% block content %}
	<h2 class="all">Users</h2>
	<ul>
		{% for p in users %}
		<li>{{p.id}}:{{p.f_name}} {{p.l_name}}</li>
			<ul>
				<li>{{p.username}}</li>
				<li>{{p.email}}</li>
				<li>{{p.password}}</li>
				<li>{{p.salt}}</li>
				<li>Is Admin: {{p.admin}}</li>
			</ul>
		{% endfor %}
	</ul>



	<h2 class="all">Assignments</h2>
	<ul>
		{% for p in assign %}
		<li>{{p.id}}:{{p.name}}</li>
			<ul>
				<li>{{p.desc}}</li>
				<li>{{p.user.username}}</li>
				<li>{{p.int_type}}</li>
			</ul>
		{% endfor %}
	</ul>



	<h2 class="all">Tests</h2>
	<ul>
		{% for t in tests %}
			<li>
				{{t.id}}:{{t.assignment.name}}
				<ul>
					<li>{{t.name}}</li>
					<li class="code"><pre>{{t.test_code}}</pre></li>
					<li>{{t.user.username}}</li>
				</ul>
			</li>
		{% endfor %}
	</ul>



	<h2 class="all">Posts</h2>
	<ul>
		{% for p in posts %}
		<li>{{p.id}}:{{p.assignment.name}}</li>
			<ul>
				<li>{{p.user.f_name}} {{p.user.l_name}}</li>
				<li class="code"><pre>{{p.code}}</pre></li>
				<li class="code"><pre>{{p.results}}</pre></li>
			</ul>
		{% endfor %}
	</ul>

{% endblock %}