{% macro main_method(assign, pre_code) -%}

	<h3 class="all">Submit Assignment:</h3>
	<form method="POST">
		<div class="code">
			<span class="all">
				public class {{assign.name}}{
				<br>
			</span>

			{% if pre_code %}
			<textarea class="code-textbox" name="code-block" rows="15" cols="55">{{pre_code}}</textarea><br>
			{% else %}
			<textarea class="code-textbox" name="code-block" rows="15" cols="55">public static void main(String[] args){

}

</textarea><br>
			{% endif %}
			<span class="all">}</span>
		</div><br>
		<input class="btn btn-primary" type="submit" value="submit assignment">
	</form>

{%- endmacro %}

{% macro static_method(assign, pre_code) -%}

	<h3 class="all">Submit Assignment:</h3>
	<form method="POST">
		<div class="code">
			<span class="all">
				public class {{assign.name}}{
				<br>
				&emsp;public static void main(String[] args){<br>
				&emsp;&emsp;//main method logic<br>
				&emsp;}<br>
			</span>

			<textarea class="code-textbox" name="code-block" rows="15" cols="55"></textarea>
			<br>
			<span class="all">}</span>
		</div><br>
		<input class="btn btn-primary" type="submit" value="submit assignment">
	</form>


{%- endmacro %}

{% macro public_class(assign, pre_code) -%}

	<h3 class="all">Submit Assignment:</h3>
	<form method="POST">
		<div class="code">
			<span class="all">
				
				<br>
			</span>
			{% if pre_code %}
			<textarea class="code-textbox" name="code-block" rows="15" cols="55">{{pre_code}}</textarea>
			{% else %}
			<textarea class="code-textbox" name="code-block" rows="15" cols="55">class {{assign.name}}{


}</textarea>
			{% endif %}
			<br>
		</div><br>
		<input class="btn btn-primary" type="submit" value="submit assignment">
	</form>


{%- endmacro %}







