{% extends 'base.html' %}

{% block content %}
	
	{% import 'post_block.html' as temp %}

	{{ temp.assignment(assign) }}

	{% if user.username == assign.user.username %}

		{{temp.adminAssignView(assign,user,tests)}}

	{% endif %}
	
	{% if user.username != assign.user.username %}

		<h3 class="all">Submit Assignment:</h3>
		<form method="POST">
		<div class="code">
			<span class="all">
				package codinBlog;
				<br>
				public class CodinBlog{
				<br>
			</span>
			
			<textarea class="code-textbox" name="code-block" rows="15" cols="55">public static void main(String[] args){
	
}</textarea><br>
			<span class="all">}</span>
		</div>
		<input type="submit" value="submit assignment">
		</form>
	{% endif %}
	

{% endblock %}