{% import 'post_block.html' as temp %}

{% extends 'base.html' %}

{% block content %}

	<div class="panel-group all" id="accordion">
	
		{{ temp.assignment(assign) }}

	</div>

	{% if user.admin and sort_id == 0 %}
		<a href="{{ url_for('assignResults', assign_id=assign.id, sort_id=1) }}">Sort by Date</a>
	{% elif user.admin and sort_id == 1 %}
		<a href="{{ url_for('assignResults', assign_id=assign.id, sort_id=0) }}">Sort by Student</a>
	{% endif %}

	{% if posts %}

		{% for p in posts %}

			{{ temp.admin_results(user, p) }}

		{% endfor %}

	{% else %}

		<h2 class="all">No Submissions Yet</h2>

	{% endif %}


{% endblock %}