{# All macros used in the site #}

{% macro assignment(assign) -%}

<h2 class="all"><a href="{{ url_for('assignView', assign_id=assign.id) }}">{{assign.name}}</a></h2>
{{assign.desc}}

{%- endmacro %}





{# Used to display the form used fro creating a new post or editing a post #}
{% macro editpost(p='',error_message='',user) -%}

<form method="post" class="all">
	<h3>Title</h3>
	<input id="title" type="text" name="title" value="{{p.title}}" size="45"><br>
	<h3>Post</h3>
	<textarea name="post" rows="20" cols="95">{{p.desc}}</textarea>
	<input type="hidden" name="user_id" value="{{user.id}}">
	<br>
	<div>
		{{error_message}}
	</div>
	<input type="submit" value="save" class="submit-button">
</form>
{% if p == None %}
<form action="/welcome">
	<input type="submit" value="cancel" class="submit-button">
</form>

{% else %}
<form action="/edit/{{p.id}}">
	<input type="submit" value="cancel" class="submit-button">
</form>

{% endif %}

{%- endmacro %}




