{# All macros used in the site #}

{% macro assignment(assign) -%}

<h2 class="all"><a href="{{ url_for('assignView', assign_id=assign.id) }}">{{assign.name}}</a></h2>
{{assign.desc}}

{%- endmacro %}


{% macro results(post) -%}

	<hr class="top-bar all">
	<h3><u>Submitted by {{post.user.name}}</u></h3>
	<h3 class="all">Code Submitted:</h3>
	
	<pre class="code">{{post.code}}</pre>
	

	<h3 class="all">Results:</h3>
	<pre class="code">{{post.results}}</pre>

{%- endmacro %}



{# Used to display the form used fro creating a new post or editing a post #}
{% macro editpost(p='',error_message='',user) -%}

<form method="post" class="all">
	<h3>Title</h3>
	<input id="title" type="text" name="title" value="{{p.title}}" size="45"><br>
	<h3>Post</h3>
	<textarea name="post" rows="20" cols="95">{{p.desc}}</textarea>
	<input type="hidden" name="user_id" value="{{user.id}}">
	<br>
	<div>
		{{error_message}}
	</div>
	<input type="submit" value="save" class="submit-button">
</form>
{% if p == None %}
<form action="/welcome">
	<input type="submit" value="cancel" class="submit-button">
</form>

{% else %}
<form action="/edit/{{p.id}}">
	<input type="submit" value="cancel" class="submit-button">
</form>

{% endif %}

{%- endmacro %}

{% macro assignView(assign, user) -%}



{%- endmacro %}


{% macro adminAssignView(assign, user, tests) -%}
<a href="{{ url_for('editAssign',assign_id=assign.id) }}">edit</a>
<h3 class="all">Tests:</h3>
		<ul>
			{% for t in tests %}
			<li>
				<form action="{{ url_for('deleteTestfile',testfile_id=t.id) }}" method="POST">
					<input type="submit" value="delete"> {{t.name}}
				</form>
			</li>
			{% endfor %}
		</ul>
		<h3 class="all">Add Test File:</h3>
		<form class="all" method="POST" action="{{ url_for('uploadTest',assign_id=assign.id) }}" enctype=multipart/form-data>
			Name: <input type="text" name="name">
			<input class="all" type="file" name="test_file" accept=".txt">
			Allowed filetypes are .txt and .java<br>
			<input type="submit" value="upload file">
		</form>
		
		<hr class="all">
		{# <form class="half" action="{{ url_for('editAssign', assign_id=assign.id) }}"> #}
			{# <input type="submit" value="edit assignment"> #}
		{# </form> #}
		<form class="half text-right" action="{{ url_for('deleteAssign', assign_id=assign.id) }}">
			<input type="submit" value="delete assignment">
		</form>

{%- endmacro %}
