{% extends 'base.html' %}

{% block content %}

	
	<h3 class="all">Students:</h3>
	<ul>
		{% for a in users %}
		<li>{{a.f_name}} {{a.l_name}}
			<ul>
				<li>Username: {{a.username}}</li>
				<li>Email: {{a.email}}</li>
				<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal{{a.id}}">
					Delete Student
				</button>
				<div class="modal fade" id="modal{{a.id}}" tabindex="-1" role="dialog" aria-labelledby="modal{{a.id}}Label">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="modal{{a.id}}Label">Confirm</h4>
				      </div>
				      <div class="modal-body">
				        Are you sure you want to delete <strong>{{a.f_name}} {{a.l_name}}</strong>?  All of their data will be permanently deleted!
				      </div>
				      <div class="modal-footer">
				        
				        <form name="form1" method="POST" action="{{ url_for('deleteUser',user_id=a.id ) }}">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				        	<button type="submit" class="btn btn-danger">Delete Student</button>
				        </form>
				      </div>
				    </div>
				  </div>
				</div>



				<!-- <form method="POST" action="{{ url_for('deleteUser',user_id=a.id ) }}">
					<input class="btn btn-danger btn-xs" type="submit" value="delete user">
				</form> -->
				
			</ul>
		</li>

		{% endfor %}
	</ul>
	<h3 class="all">Admin:</h3>
	<ul>
		{% for a in admin %}
		<li>{{a.f_name}} {{a.l_name}}
			<ul>
				<li>Username: {{a.username}}</li>
				<li>Email: {{a.email}}</li>
			</ul>
		</li>
		{% endfor %}
	</ul>

{% endblock %}