{% extends 'base.html' %}

{% block content %}

	
	<h3 class="all">Students:</h3>
	<ul>
		{% for a in users %}
		<li>{{a.f_name}} {{a.l_name}}
			<ul>
				<li>Username: {{a.username}}</li>
				<li>Email: {{a.email}}</li>
				<form method="POST" action="{{ url_for('deleteUser',user_id=a.id ) }}">
					<input class="btn btn-danger btn-xs" type="submit" value="delete user">
				</form>
				
			</ul>
		</li>
		{% endfor %}
	</ul>
	<h3 class="all">Admin:</h3>
	<ul>
		{% for a in admin %}
		<li>{{a.f_name}} {{a.l_name}}
			<ul>
				<li>Username: {{a.username}}</li>
				<li>Email: {{a.email}}</li>
			</ul>
		</li>
		{% endfor %}
	</ul>

{% endblock %}